<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.karanthaker.traveljournal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddHoliday" />
        <activity android:name=".EditHoliday" />
        <activity android:name=".AddPlace" />
        <activity android:name=".EditPlace" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAx3I38PUocUPjfubhZX5nAvd9qrd-2xFw"/>
    </application>

</manifest>